# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://hopon:hopon@localhost:5432/hopon_dev?schema=public"
COGNITO_CLIENT_ID="1m3ffti43gmbmc7obtgge17rfq"
COGNITO_USER_POOL_ID="us-east-1_1zYhKedOW"
AWS_ACCESS_KEY_ID="AKIASEL3ADUROTQKZAAE"
AWS_SECRET_ACCESS_KEY="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"
JWT_SECRET = "CHANGE_ME"
JWT_REFRESH_SECRET = "CHANGE_ME_REFRESH"
API_KEY_SECRET="CHANGE_ME_API_KEY"
IMAGE_UPLOAD_BUCKET="hopon-image-uploads"
AWS_SNS_TOPIC_ARN_RIDE_REQUEST="CHANGE_ME"
AWS_SNS_TOPIC_ARN_RIDE_REQUEST_FEEDBACK="CHANGE_ME"
AWS_SNS_TOPIC_ARN_FARE_PAYMENT="CHANGE_ME"
